$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "preloader";
@import "slick-theme";
@import "slick";

/*

Powell Peralta Test Project
Author: Topher Young
Version: 1.0

*/

@import url(http://fonts.googleapis.com/css?family=Montserrat);


// Default Variables

$red: #b4282e;
$yellow: #f3ca31;
$maxWidth: 1024px;
$fb: #3A589B;
$rss: #E19126;
$tw: #598DCA;
$yt: #CF3427;

/* General Styles */

html {
  background: url('../images/bg.jpg') no-repeat center top;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
}

header { margin: 0 auto; }

a {
  text-decoration: none; 
  font-family: "Montserrat", sans-serif;

  :hover { text-decoration: none; }
}

p {
  font-family: "canada-type-gibson";
}

.row {
  padding: 0;
  margin: 0 auto;
  max-width: $maxWidth;
}

/* Header */

.headerSection {
  padding: 0;
  margin: 0;
}

.subscribe {
  text-align: right;

  a {
    padding-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $red;
    }

    &:after {
      content: "·";
      color: #fff;
      font-size: 30px;
      vertical-align: middle;
      padding-left: 15px;
    }
  }

  img {
    display: inline-block
  }

}


/* Social Media */

.social {
  text-align: right;
  padding: 0;
}

.fb, .rss, .tw, .yt {
  display: inline-block;
  margin: 10px 0 0 10px;
  padding: 10px;
  max-width: 60px;
  max-height: 60px;
  border-bottom: 4px solid #999;
  webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-bottom: 4px solid #fff;
  }

  &:hover img {
    opacity: 1;
  }

  img {
    opacity: 0.25;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}


.fb { background-color: $fb; }

.rss { background-color: $rss; }

.tw { background-color: $tw; }

.yt { background-color: $yt; }


/* Navigation */

nav { 
  padding-top: 15px; 

  ul {
    padding: 0;

    li {
      list-style: none;
      height: 40px;
      text-align: center;

      a {
        background-color: $red;
        box-shadow: 0 4px 0 rgba(255, 255, 255, 0.3);
        height: 100%;
        width: 100%;
        display: block;
        padding-top: 8px;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;

        &:before {
          content: " ";
          position: absolute;
          margin: 10px 0 0 -30px;
          width: 15px;
          height: 3px;
          background-color: #fff;
        }

        &:after {
          content: " ";
          position: absolute;
          margin: 10px 0 0 15px;
          width: 15px;
          height: 3px;
          background-color: #fff;
        }

        &:active, &:hover, &:focus {
          color: $yellow;
          box-shadow: 0 4px 0 #f3ca31;
          text-decoration: none;
          webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

}


.navItem {
  padding: 0 5px 0 5px;
}

.rightNav { padding-right: 0; }

.leftNav { padding-left: 0; }


nav ul li:hover a:after, nav ul li:hover a:before { 
  background-color: #f3ca31;
  webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navTrigger {
  display: none;
}

.closeNav {
  display: none;
}

/* Slideshow */

.mobileLogo {
  display: none;
}

.slideshowContainer {
  max-width: 1024px;
  max-height: 350px;
  margin: 30px auto 10px auto;
}

.slideshowTexture {
  position: relative;
  left: 0;
  width: 100%;
  height: 350px;
  z-index: 99;
  margin-bottom: 30px;
  background: url('../images/sliderDot.png') center center repeat;

  img {
    margin: 50px 0 0 30px; 
  }
}

.slides {
  position: absolute;
  left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  background-color: #fff;
  width: 1024px;
/*  height: auto;*/
  padding: 5px;
  z-index: 9;

  img {
    width: 100%;
    height: 100%;
  }
}

.logo {
  margin: 0 auto;
}


/* Blog Section */

.articles {
  max-width: 1054px;
  margin: 30px auto 10px auto;
}

.blogArticle {
  background-color: #fefefe;
  box-shadow: 0 4px 0 rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;

  h1 {
    font-size: 24px;
    margin: 10px 0 15px 0;
    text-align: left;
  }

  h6 {
    font-size: 14px;
    line-height: 18px;
    color: #999;
    text-align: left;
  }

  p {
    font-size: 14px;
    line-height: 25px;
    text-align: left;
  }

  a {
    text-align: center;
    color: #b4282e;

    &:active {
      color: $red;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}


/* Skateboarder Section */

.skateboarders {
  max-width: 1054px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 0 rgba(255, 255, 255, 0.3);
  }

  h1 {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.outerCol { padding: 0; }

.sb { margin-bottom: 15px;}

.sb:hover h1 {
  color: #f3ca31;
  webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sb:hover img {
  box-shadow: 0 4px 0  #f3ca31;
  webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sbOverlay {
  position: absolute;
  width: 90%;
  height: 100%;
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}

.overlayContent {
  display: inline-block;
  vertical-align: middle;
  width: 99%;
}

/* Skatedeck Section */

.skatedecks {
  position: relative;
  margin: 30px auto 0 auto;
  background: url('../images/moduleBG.jpg') center center no-repeat;
  background-size: cover;
  max-width: $maxWidth;
  min-height: 300px;
  box-shadow: 0 4px 0 rgba(255, 255, 255, 0.3);

  img {
    display: inline-block;
    padding: 20px 15px;
  }
}

.deckContainer {
  text-align: center;
}

.deck {
  display: inline-block;
}

.callout {
  position: relative;
}

.callout:hover:after{
    background: rgba(0,0,0,.7);
    box-shadow: 0 4px 0 rgba(255, 255, 255, 0.3);
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: -50%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 205px;
    text-align: center;
}

.callout:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 45%;
    position: absolute;
    z-index: 99;

}

.deckButton {
  cursor: pointer;
}

.modalDeckContent {

  img {
    margin: 0 auto 20px auto;
  }

  p {
    margin-top: 10px;
    font-size: 16px;
  }

}

/* Modal Buttons */

.btn {
  border-radius: 0;
  text-transform: uppercase;
}

.btn-primary {
  background-color: $red;
  border-color: $red;

  &:hover, &:active {
    color: $yellow;
    background-color: $red;
    border-color: $red;
  }
}

/* Contact Us */

.contact {
  margin: 30px auto 30px auto;
  background: url('../images/moduleBG.jpg') center center no-repeat;
  background-size: cover;
  box-shadow: 0 4px 0 rgba(255, 255, 255, 0.3);
  max-width: 1024px;

  form {
    padding-top: 30px;
    text-align: right;
  }

  input, textarea {
      width: 100%;
    margin: 10px 0;
    border-top: 3px solid #999;
    border-left: 3px solid #999;
    font-size: 16px;
    padding: 5px;

    &:focus {
      box-shadow: 0 0 10px #f3ca31;
    outline: none;
    }
  }

  button {
    width: 250px;
    height: 40px;
    background-color: $red;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    margin-bottom: 30px;

    &:hover {
      color: $yellow;
    }
  }
}

.contactSocial img {
  display: inline-block;
  padding: 20px 10px 0 0;
  -webkit-filter: grayscale(1);

  &:hover {
    -webkit-filter: none;
    webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

.message {
  height: 50px;
}

@import "skaters";
@import "responsive";