// =============================================================================
// PP Variables 
// =============================================================================

$white: #ffffff !default;
$black: #000000;

$red: #b4282e;
$yellow: #f3ca31;
$fb: #3A589B;
$rss: #E19126;
$tw: #598DCA;
$yt: #CF3427;

$maxWidth: 1024px;